@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*==================== General =====================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

body {
    width: 100%;
    animation: fadein 1s;
    background-image: url("../images/background.png");
}

h1 {
    font-size: 1.5em;
    padding: 5px 0;
}

 p {
  padding: 2px;
  line-height: 25px;
  text-align: justify;
}



article {
    margin: 10px 10px;
    padding: 20px 20px;
    border-left: 3.5px solid #8c8c8c;
    background-color: #F7F9FA;
}

article h1 {
    color: #595959;
}

article a {
    color: #53A6F9;
}

button {
    padding: 10px 20px;
    color: white;
    border: 0;
    border-radius: 30px;
    background-color: #53A6F9;
    margin: 10px 0;
}

button:hover {
    background-color: #595959;
    font-weight: 700;
}

a, a:active {
    text-decoration: none;
    color: inherit;
}

label {
    margin: 5px 0;
}

textarea {
    width: 100%;
    height: 200px;
    margin: 15px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
}

table {
  table-layout: fixed;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #e2e2e2;
}

small {
    font-size: 0.9em;
    color: #b3b3b3;
    display: block;
}

video{
  width: 100%;
}

input[type="text"] {
    width: 40%;
    margin: 10px 0;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
}

#container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 65%;
    min-height: 750px;
    margin: 5% auto;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    /*for older browser*/
    background-color: rgba(255, 255, 255, 0.6);
    border-top: 0px solid   #808080;
    box-shadow: 2px 6px 34px -15px rgba(0, 0, 0, 0.56);
}


/* ==================== Side Content =====================*/

#side-content {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #e2e2e2;
}


/* ==================== Menu =====================*/

#side-content nav ul {
    list-style: none;
}

#side-content nav ul a li {
    padding: 20px 15px;
    color: #595959;
    border-bottom: 1px solid #d9d9d9;
    font-size: 16px;
}

#side-content nav ul a li:hover {
    border-left: 4px solid #53A6F9;
    font-weight: 700;
}

#side-content nav ul a .clicked {
    color: #2196f3;
    border-left: 4px solid #53A6F9;
    font-weight: 400;
}


/* ==================== Social Icons =====================*/

#side-content .social-icons {
    margin-top: auto;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    color: #595959;
    font-size: 2em;
}

#side-content .social-icons a {
    padding: 0 5px;
}

#side-content .social-icons a:hover {
    color: #53A6F9;
}


/* ==================== Main Section =====================*/

#main-content {
    width: 75%;
}

#page-title {
    padding: 10px 10px;
    color: white;
    background: linear-gradient(to left, #53A7F9 0%, #75C9FF 100%, #99F2FF 100%);
    background: -webkit-linear-gradient(left, #53A7F9 0%, #75C9FF 100%, #99F2FF 100%);
    background: -moz-linear-gradient(left, #53A7F9 0%, #75C9FF 100%, #99F2FF 100%);
    background: -ms-linear-gradient(left, #53A7F9 0%, #75C9FF 100%, #99F2FF 100%);
    background: -o-linear-gradient(left, #53A7F9 0%, #75C9FF 100%, #99F2FF 100%);
    background-color: rgb(226, 226, 226);
    /*for older browser*/
    background-color: rgba(226, 226, 226, 0.6);
}

@media only screen and (max-width: 800px) {
    #container {
        flex-direction: column;
    }
    #side-content, #main-content {
        width: 100%;
    }

    #side-content{
      text-align: center;
    }
    p {
      text-align: left;
        text-align: left;
    }
}
