/*==================== General =====================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

body {
    width: 100%;
    animation: fadein 1s;
    background-image: url("../imgs/background.png");
}

h1 {
    padding: 6px 0;
    font-size: 1.5em;
    margin: 2px 0;
}

h2 {
    padding: 2px 0;
    font-weight: 700;
}

h3 {
    margin: 3px 0px 5px 0;
    font-size: 13px;
    font-weight: normal;
}

p {
    margin-top: 5px;
    padding: 2px;
    text-align: justify;
    line-height: 25px;
}

img {
width:  100%;
}

article {
    margin: 10px 10px;
    padding: 20px 20px;
    border-left: 3.5px solid #8c8c8c;
    background-color: #F7F9FA;
}

article h1 {
    color: #595959;
}

article a {
    color: #53A6F9;
}

article img {
    max-width: 15%;
    margin-bottom: 5px;
}

button {
    margin: 10px 0;
    padding: 10px 20px;
    color: white;
    border: 0;
    border-radius: 30px;
    background-color: #53A6F9;

}

button:hover {
    background-color: #53A6F9;
    font-weight: 700;
}

a,a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

label {
    margin: 5px 0;
}

textarea {
    width: 100%;
    height: 200px;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
}

li {
  list-style-position: inside;
  padding: 4px 0;
}
table {
    width: 100%;
    table-layout: fixed;
}

td, th {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #e2e2e2;
}

small {
    display: block;
    color: #b3b3b3;
    font-size: 0.9em;
}

video {
    width: 100%;
}

input[type="text"] {
    width: 40%;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
}


/* ==================== Main Container =====================*/

#container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    width: 65%;
    min-height: 70%;
    margin: 5% auto;
    border-top: 0px solid #808080;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    /*for older browser*/
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 2px 6px 34px -15px rgba(0, 0, 0, 0.56);

}


/* ==================== Side Content =====================*/

#side-content {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #e2e2e2;
}


/*============ Menu ============*/

nav ul {
    list-style: none;
}

nav ul a li {
    padding: 20px 15px;
    color: #595959;
    border-bottom: 1px solid #d9d9d9;
    font-size: 16px;
}

nav ul a li:hover {
    border-left: 4px solid #53A6F9;
    font-weight: 700;
}

nav ul a .clicked {
    color: #2196f3;
    border-left: 4px solid #53A6F9;
    font-weight: 400;
}


/*============ Accordion ============*/
.sub-list .bar{
  float:right;
}

.sub-list:hover .bar{
  float:right;
  color: #53A6F9;
}

.accordion {
    background-color:#666666;
    display: none;
}

.accordion a li {
    padding: 15px 40px;
    color: #e2e2e2;
    border-bottom: 1px solid gray;
    font-size: 14px;
}

.accordion a li:hover {
    border-left: 4.5px solid #e2e2e2;
    font-weight: 700;
}

.accordion a .clicked {
    color: #e2e2e2;
    border-left: 4.5px solid #e2e2e2;
}

.shadow {
    -webkit-box-shadow: inset 0px 6px 31px -13px #5C5C5C, -9px 1px 31px 1px #BABABA;
    -moz-box-shadow: inset 0px 6px 31px -13px #5C5C5C, -9px 1px 31px 1px #BABABA;
    box-shadow: inset 0px 6px 31px -13px #5C5C5C, -9px 1px 31px 1px #BABABA;
    -o-box-shadow: inset 0px 6px 31px -13px #5C5C5C, -9px 1px 31px 1px #BABABA;
}


/* ============ Social Icons ============*/

.social-icons {
    margin-top: auto;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    color: #595959;
    font-size: 2em;

}

.social-icons a {
    padding: 0 1px;
}

.social-icons a:hover {
    color: #53A6F9;
}

.twitter {
    color: #00aced;
}

.twitter:hover {
    color: #0084b4;
}

.facebook {
    color: #3b5998;
}

.facebook:hover {
    color: #005195;
}

.github {
    color: #333;
}

.gtihub:hover {
    color: black;
}

.google{
    color: #ea4335;
}

.google:hover {
    color: #dd4b39;
}



/* ============ Profile Pictures ============*/

#side-content .pic img {
    width: 100%;
    transition: all ease 0.5s;
}

#side-content .pic img:hover {
    filter: blur(1.5px);
}


/* ==================== Main Section =====================*/

#main-content {
    width: 75%;
}

#page-title {
    padding: 5px 10px;
    color: white;
    background: linear-gradient(to left, #53A7F9 0%, #75C9FF 100%, #99F2FF 100%);
    background: -webkit-linear-gradient(left, #53A7F9 0%, #75C9FF 100%, #99F2FF 100%);
    background: -moz-linear-gradient(left, #53A7F9 0%, #75C9FF 100%, #99F2FF 100%);
    background: -ms-linear-gradient(left, #53A7F9 0%, #75C9FF 100%, #99F2FF 100%);
    background: -o-linear-gradient(left, #53A7F9 0%, #75C9FF 100%, #99F2FF 100%);
    background-color: rgb(226, 226, 226);
    /*for older browser*/
    background-color: rgba(226, 226, 226, 0.6);
}

.clickable {
    cursor: pointer;
    color: #53A6F9;
}

.clickable:hover {
    font-weight: 700;
}


/* ============ Carousel ============*/


.carousel-control {
    opacity: 0.4;
    color: black;
}

.carousel-indicators li.active {
    background: #595959;
    border: none;
}

.carousel-indicators li {
    background: lightgray;
    border: none;
    border: 1px solid #e2e2e2;
}

.carousel-control.left {
    background-image: none;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.10) 0, rgba(0, 0, 0, 0.0001) 100%);
}

.carousel-control.right {
    background-image: none;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.10) 0, rgba(0, 0, 0, 0.0001) 100%);
}


/* ============ Footer ============*/

#main-footer {
    background: #e2e2e2;
    flex-grow: 1;
    background: linear-gradient(to right, #53A7F9 0%, #75C9FF 100%, #99F2FF 100%);

}


#main-footer p {
    text-align: center;
    color: white;
    font-weight: 700;
}


/*================= The Page Fade-in Effect =================*/

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* ==================== Media Queries =====================*/

@media only screen and (max-width: 1293px) {
  .sub-list .bar {
    display: none;
  }
}

@media only screen and (max-width: 1196px) {
  #container {
      width: 72%;
  }
}

@media only screen and (max-width: 1008px) {
    #container {
        flex-direction: column;
    }
    #side-content, #main-content {
        width: 100%;
    }
    #side-content {
        text-align: center;
    }
    p {
        text-align: left;
        text-align: left;
    }
    .sub-list .bar {
      display: block;
    }
}
